server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    root /usr/share/nginx/html;
    index index.html index.htm;

    # Make site accessible from http://localhost/
    server_name localhost;

    {{/*
          An example of how to use environment variables and golang templates to 
          customize a configuration file.  

          In this case, if the environment variable $PROXY_PASS_URL is used to
          configure proxy_pass

    */}}
    location / {
      proxy_pass {{ .Env.PROXY_PASS_URL }};

      {{ if .Secret.PROXY_PASSWORD }}
      proxy_set_header Authorization "Basic {{ .Secret.PROXY_PASSWORD }}";
      {{ end }}


      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_redirect {{ .Env.PROXY_PASS_URL }} $host;
    }
}
